<div id="<%= dom_id training %>">
  <p>
    <strong>User:</strong>
    <%= training.user_id %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= training.activity_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= training.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= training.end_time %>
  </p>

</div>
